<div class="media">
  <div class="media_icon">
    <svg class="icon icon_primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media_body">
    <h3 class="media_title">Easy start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sit
      illum non quo inventore ipsa dicta tempora sunt aliquam in!
    </p>
  </div>
</div>

<div class="media">
  <div class="media_icon">
    <svg class="icon icon_primary">
      <use xlink:href="images/sprite.svg#growth"></use>
    </svg>
  </div>
  <div class="media_body">
    <h3 class="media_title">Staging Git & WP-CLI</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sit
      illum non quo inventore ipsa dicta tempora sunt aliquam in!
    </p>
  </div>
</div>

<div class="media">
  <div class="media_icon">
    <svg class="icon icon_primary">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </div>
  <div class="media_body">
    <h3 class="media_title">Dynamic caching & more</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sit
      illum non quo inventore ipsa dicta tempora sunt aliquam in!
    </p>
  </div>
</div>
