<section class="block block_dark block_skewed-right showcase_block">
  <header class="block_header">
    <h2>User-Friendly Control Panel</h2>
  </header>
  <div class="container grid grid_1x2">
    <picture class="showcase_image">
      <source
        type="image/webp"
        srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/ipad.png 1x, images/ipad@2x.png 2x"
      />
      <img src="images/ipad.webp" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media_icon">
            <svg class="icon icon_primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media_body">
            <h3 class="media_title">Easy start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatem sit illum non quo inventore ipsa dicta tempora sunt
              aliquam in!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media_icon">
            <svg class="icon icon_primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media_body">
            <h3 class="media_title">Staging Git & WP-CLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatem sit illum non quo inventore ipsa dicta tempora sunt
              aliquam in!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media_icon">
            <svg class="icon icon_primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media_body">
            <h3 class="media_title">Dynamic caching & more</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatem sit illum non quo inventore ipsa dicta tempora sunt
              aliquam in!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
